{
  "presets": ["@babel/preset-env", "next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "ignore": ["node_modules"]
}
