{
  "presets": [
    "@babel/preset-env",
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "app": "./app"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}
